* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #f9f9f9;
  color: #3b3b3b;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .8px; }

a {
  text-decoration: none;
  color: #3b3b3b; }

ul li {
  list-style: none; }
  ul li a:hover {
    font-weight: 500; }

.container {
  margin: 0 15px; }
  @media screen and (min-width: 768px) {
    .container {
      margin: auto;
      max-width: 540px; } }

.responsive-image {
  width: 100%;
  max-width: 100%;
  height: auto; }

header {
  margin: 72px 0;
  text-align: center; }
  header.inner-header {
    margin: 0 0 24px 0; }
  header h1,
  header h2 {
    font-weight: 500;
    text-transform: uppercase; }
  header h1 {
    font-size: 40px;
    line-height: 48px; }
    header h1.inner-heading {
      margin-bottom: 16px; }
    @media screen and (min-width: 768px) {
      header h1 {
        font-size: 48px;
        line-height: 56px; } }
  header h2 {
    font-size: 24px;
    line-height: 32px; }
  header p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300; }
    header p.inner-paragraph {
      font-size: 16px;
      line-height: 24px; }
      @media screen and (min-width: 768px) {
        header p.inner-paragraph {
          font-size: 24px;
          line-height: 32px; } }

nav {
  margin-bottom: 72px;
  position: sticky;
  top: 0;
  padding: 8px 0;
  background-color: #f9f9f9;
  z-index: 1; }
  nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    nav ul.inner-nav {
      justify-content: space-between; }
      nav ul.inner-nav li a:hover {
        font-weight: 400; }
      nav ul.inner-nav .cta {
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        background-color: #3b3b3b;
        color: #f9f9f9;
        padding: 4px 16px;
        transition: all .2s ease-in-out;
        border-radius: 4px; }
        nav ul.inner-nav .cta:hover {
          background-color: #272727; }

.gallery {
  margin-bottom: 72px; }
  @media screen and (min-width: 768px) {
    .gallery .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 30px 0; }
      .gallery .grid:last-child {
        margin-bottom: 0; } }
  .gallery .cell {
    display: block;
    margin-bottom: 30px; }
    .gallery .cell figure figcaption {
      text-align: center;
      font-size: 24px;
      line-height: 32px; }
      @media screen and (min-width: 768px) {
        .gallery .cell figure figcaption {
          font-size: 16px;
          line-height: 24px; } }
    @media screen and (min-width: 768px) {
      .gallery .cell {
        margin-bottom: 0;
        width: calc(510px / 2);
        transition: all .2s ease-in-out; }
        .gallery .cell:hover {
          transform: translate(0px, -4px); }
        .gallery .cell.inner-cell {
          width: 100%;
          height: auto;
          margin-bottom: 15px; }
          .gallery .cell.inner-cell:hover {
            transform: none; } }

.about {
  padding: 40px 0;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 72px; }
  .about .memo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .about .memo {
        flex-direction: row; } }
    .about .memo img {
      width: 120px;
      height: 160px;
      margin: 0 0 16px 0; }
      @media screen and (min-width: 768px) {
        .about .memo img {
          margin: 0 30px 0 0; } }
    .about .memo .text p {
      text-align: center;
      margin-bottom: 4px; }
      .about .memo .text p:last-child {
        margin-bottom: 0; }
      @media screen and (min-width: 768px) {
        .about .memo .text p {
          text-align: left; } }

.contact {
  margin-bottom: 72px; }
  .contact form {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .contact form .test {
        display: flex; }
        .contact form .test .form-group {
          flex: 1; }
          .contact form .test .form-group:last-child {
            margin-left: 30px; } }
    .contact form .form-group {
      margin-bottom: 16px; }
      .contact form .form-group label {
        display: block;
        margin-bottom: 4px; }
      .contact form .form-group input,
      .contact form .form-group textarea {
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #3b3b3b; }
      .contact form .form-group input {
        display: block;
        width: 100%;
        padding: 8px;
        border: 1px solid #c9c9c9;
        background-color: #efeeee; }
      .contact form .form-group textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 8px;
        border: 1px solid #c9c9c9;
        background-color: #efeeee; }
    .contact form button {
      cursor: pointer;
      border: none;
      display: block;
      width: 160px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      margin: 32px auto 0;
      background-color: #3b3b3b;
      color: #f9f9f9;
      padding: 12px 8px;
      transition: all .2s ease-in-out; }
      .contact form button:hover {
        background-color: #272727; }

footer {
  background-color: #efeeee;
  padding: 40px; }
  footer .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
    @media screen and (min-width: 768px) {
      footer .container {
        flex-direction: row;
        justify-content: space-between; } }
    footer .container .logo {
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      text-transform: uppercase; }
    footer .container .social {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 120px;
      margin-bottom: 24px; }
      @media screen and (min-width: 768px) {
        footer .container .social {
          margin-bottom: 0; } }
      footer .container .social li {
        width: 32px;
        height: 32px;
        transition: all .08s ease-in-out; }
        footer .container .social li:hover {
          transform: scale(1.04); }

/*# sourceMappingURL=styles.css.map */
